<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>FDA Recalls</title>
    <!-- Mapbox GL -->

    <link href='https://api.mapbox.com/mapbox-gl-js/v2.5.1/mapbox-gl.css' rel='stylesheet' />
    
    <!-- d3 JavaScript -->
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">


    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->


  </head>
  <body>
  <h1>FDA Recall Data</h1>
<hr class="my-4">
<!--Map Portion-->
<div id='map'>
</div>
<!--Table Portion-->
  <hr class="my-4">
      <h4 class ="heading">Recalls</h4>
      <table>
        <thead>
          <tr>
            <th>City</th>
            <th>Address</th>
            <th>Recall Reason</th>
            <th>Postal Code</th>
            <th>Recall Type</th>
            <th>Latitude</th>
            <th>Longitude</th>          
          </tr>
        </thead>
          {% for item in items %}
        <tbody>
          <tr>
            <td>{{item['city']}}</td>
            <td>{{item['address']}}</td>
            <td>{{item['recall reason']}}</td>
            <td>{{item['postal code']}}</td>
            <td>{{item['recall type']}}</td>
            <td>{{item['latitude']}}</td>
            <td>{{item['longitude']}}</td>  
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
   </div>
 </div>
</body>
  <!-- Our JavaScript -->
  <script type="text/javascript" src="static/js/logic.js"></script>

  <script src='https://api.mapbox.com/mapbox-gl-js/v2.5.1/mapbox-gl.js'></script>

  
</html>
