<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>FDA Recalls</title>
    <!-- Mapbox GL -->

    <link href='https://api.mapbox.com/mapbox-gl-js/v2.5.1/mapbox-gl.css' rel='stylesheet' />
    


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--Some scripts I finally realized i had to add to get the dropdown to work-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->

    <script src="//cdn.amcharts.com/lib/4/core.js"></script>
  <script src="//cdn.amcharts.com/lib/4/charts.js"></script>
  <script src="//cdn.amcharts.com/lib/4/plugins/sunburst.js"></script>
 
</head>

<main>
  <div class="header-img"></div>
</main>

<body>

  <h1>FDA Food Recalls - USA</h1>
  <p>Focusing on the United States, a sample of 1000 food recalls from 2016 were reviewed. Some recalls were mandatory and others were voluntary. Overview, interactive map, details, and statistics are below. Enjoy. </p>


  
  <!-- summary table -->
  <div class="row">
    <div class="col-md-12">
      <h2 class ="heading">Brief overview of recalls</h2>
      <table class="table table-bordered table-responsive recall">
        <thead class="thead-dark">
          <tr>
            <th>Status</th>
            <th>FDA Mandated</th>
            <th>Voluntary Recall</th>        
          </tr>
        </thead>
        <!-- <h5>Reason and Status</h5> -->
        <tbody>
          <tr>
            <td>Ongoing</td>
            <td>1</td>
            <td>38</td>
          </tr>
          <tr>
            <td>Terminated</td>
            <td>12</td>
            <td>933</td>
          </tr>
          <tr>
            <td>Completed</td>
            <td>0</td>
            <td>16</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>  
</table>

  <h2>US Map </h2>
  <p> Utilize this map to show where the area recalls had originated from. It can be filtered to show all recalls from the sample or by Class I or Class II. For FDA class definations, visit their website <a href= "https://www.fda.gov/safety/industry-guidance-recalls/recalls-background-and-definitions">HERE. </a> </p>

<hr class="my-4">
<!--Map Portion-->
<div id='map'>
  <button id="fit">Return to Original Dataset View</button>
</div>
<!--Table Portion-->
<hr class="my-4">
<div class="container">
  <div class ="row">  
  <div class="col-md-12">
    <h2 class ="heading">Recalls List</h2>
    <!-- Added for search -start -->
    <input type="search" placeholder="Search..." class="form-control search-input" data-table="fda-list"/>
    <!-- end add for search -->
    <table class="table table-bordered table-striped table-responsive recall fda-list" id="tblData" style="width: 100%;">
      <thead class="thead-dark">
          <tr>
            <th>City</th>
            <th>Company</th>
            <th>Address</th>
            <th>Reason</th>
            <th>Classification</th>
            <th>Postal Code</th>
            <th>Recall Type</th>
            <th>Initiation Year</th>    
          </tr>
        </thead>
          {% for item in items %}
        <tbody>
          <tr>
            <td>{{item['city']}}</td>
            <td>{{item['recalling_firm']}}</td>
            <td>{{item['address']}}</td>
            <td>{{item['recall reason']}}</td>
            <td>{{item['classification']}}</td>
            <td>{{item['postal code']}}</td>
            <td>{{item['recall type']}}</td>
            <td>{{item['recall_year']}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
   <div class ="row">  
  <div class="col-md-12">
    <hr class="my-4">
    <h2 class ="heading">Recalls by Initator (FDA or Voluntary)</h2>
    <p>The vast majority of recalls are initiated by the Firm itself as compared to the FDA.</p>
    <div id="chartdiv">
    </div>
      <div class ="row">  
        <div class="col-md-12">
          <hr class="my-4">
          <h2 class="heading">Things We Still Want to Do</h2>
          <ol>
            <li>Connect data to Heroku and post data live via Github pages</li>
            <li>Connect all datapoints within the visuals to single filtering management</li>
            <li>Enhance filter + pagination on Recall data</li>
            <li>Add ability to scrape for new FDA data</li>
          </ol>
    </div>
  </div>
</div>
</body>
    <!-- d3 JavaScript -->
    <script src="https://d3js.org/d3.v5.min.js"></script>

<!-- Our JavaScript -->
  <script type="text/javascript" src="../static/js/logic.js"></script>
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.5.1/mapbox-gl.js'></script>

  
</html>
